
/* temp fix */
    #app-navigation.without-app-settings {
        display:none;
    }

    #app-navigation + #app-content #controls {
        left: 15px;
    }
/* temp fix */

.app-polls #app-content {
	transition: background-color 0.3s ease;
	overflow-x: hidden;
}

#pollstable {
	position: relative;
	width: 100%;
}

#pollstable.has-controls {
	top: 44px;
}

#body-user #pollstable {
	min-width: 688px;
}

#headerName-container {
    padding-left: 15px;
}

#pollstable tbody tr {
	transition: background-color 0.3s ease;
	background-color: #fff;
	height: 40px;
}

#polllist tr td.pollname {
	padding-left: 15px;
}

table th, table th a {
	color: #999;
}

table th, table td {
	border-bottom: 1px solid #eee;
	text-align: left;
	font-weight: normal;
}

table thead th {
	background-color: #fff;
}
